@font-face {
    font-family: Main;
    src: url('Phonk\ Regular\ DEMO.otf');
}

:root {
    --font-base: Main;
}


body {
    margin: 0 !important;
}

.container {
    display: grid;
    grid-template: auto 4fr/ 1fr 4fr;
    min-height: 100vh;
}

.sidebar {
    display: grid;
    grid-area: 1 / 1 / -1 / 2;
    grid-template-rows: 1fr auto 1fr;
    background: pink;
    padding: 1rem;

    
}

.sidebar p {
    font-family: Main;
}


.sidebar ul {
    list-style: none;
}

.navbar {
    background: blue;
    grid-area: 1 / 2 / 2 / -1;
}

.projects {
    background: blueviolet;
    grid-row: 2;
}