@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Ubuntu&display=swap');
@font-face {
    font-family: Main;
    src: url('../assets/Phonk.otf');
}

:root {
    --font-base: Main;
    --font-alt: 'Courier Prime', monospace;
    --font-header: 'Dosis', sans-serif;
    --font-text: 'Ubuntu', sans-serif;

    --color-black: #000;
    --color-white: #fff;
    --color-gray: #292929;
    --color-darkblue: #161722;
    --color-brown: #90411B;
    --color-tan: #E6CB96;

    --banner-img: url('../assets/bannerBG.png')
}


body {
    margin: 0 !important;
}


.container {
    display: grid;
    grid-template: auto 4fr/ 1fr 4fr;
    min-height: 100vh;
    gap: 20px;
}



.btn {
    background-color: var(--color-tan);
    color: var(--color-black);
    font-family: var(--font-alt);
    font-weight: 700;
    font-size: 20px;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 5px 5px var(--color-black);
}

.shadow {
    box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.2);
}


.navbar {
    grid-area: 1 / 2 / 2 / -1;
    padding-top: 10px;
    background-color: var(--color-white);
    margin-right: 20px;
}

.bell { 
    height: 24px;
    width: 24px;
    fill: var(--color-black);
}

  
.navbar-search {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    background: var(--color-darkblue);
    border: 1px solid var(--color-white);
    border-radius: 20px;

    height: 30px;
    margin-top: 0.7rem;
}

.navbar .search-icon {
    width: 30px;
    fill: var(--color-white);
    
}

.navbar input {
    width: 100%;
    border: none;
    outline: none;  
    background: none;

    font-family: var(--font-alt);
    font-size: 1.2rem;
    color: var(--color-white);
}

  
.navbar-container {
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template: max-content / 1fr max-content;
    padding: 15px 20px 15px 30px;
    gap: 20px;
    overflow: hidden;
}
  
.navbar-links {
    align-items: center;
    display: flex;
    gap: 20px;
}
  
.navbar-links li {
    display: inline;
    list-style-type: none;
}
  
.navbar-options {
    align-items: center;
    display: flex;
    gap: 20px;
}
  
.divider {
    background-color: rgb(219, 221, 231);
    height: 100%;
    width: 1px;
}

.options-bell:hover {
    animation: wiggle 75ms linear infinite;
}

.options-name {
    font-family: var(--font-base);
    color: var(--color-black);
}
  
.options-img {
    background-image: url('https://github.com/trlrizu.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120% 120%;
    border-radius: 50%;
    border: 3px solid var(--color-tan);
    height: 40px;
    width: 40px;

    position: relative;
}

.options-img a {
    position: absolute;
    display: block;
}


.options-img:hover {
    animation: spin 500ms ease-out;
    cursor: pointer;
}

.sidebar {
    display: flex;
    grid-area: 1 / 1 / -1 / 2;
    flex-direction: column;
    background: var(--color-darkblue);

    padding: 29px;
    box-sizing: border-box;
}

.sidebar p {
    font-family: var(--font-alt);
    color: var(--color-tan);
    font-size: 20px;
    margin-left: 1rem;
}

.sidebar-logo {
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1rem;
}   


.dashboard {
    width: 40px;
    height: 40px;
    fill: var(--color-tan);
}

.sidebar-logo p {
    font-family: var(--font-base);
    font-size: 24px;
    margin-left: 10px;
}

.sidebar ul {
    list-style: none;
}
.sidebar-help {
    margin-top: 4rem;
}

.links-home,
.links-profile, 
.links-messages, 
.links-history, 
.links-tasks, 
.links-communities,
.help-settings,
.help-support,
.help-privacy {
    display: flex;
    
} 


.home, 
.projects, 
.messages, 
.history, 
.tasks, 
.communities,
.help,
.info,
.privacy {
    width: 40px;
    fill: var(--color-brown);
}

.links-home:hover .home,
.links-profile:hover .projects, 
.links-messages:hover .messages, 
.links-history:hover .history, 
.links-tasks:hover .tasks, 
.links-communities:hover .communities,
.help-settings:hover .help,
.help-support:hover .info,
.help-privacy:hover .privacy {
    filter: drop-shadow(3px 5px black);
    fill: var(--color-tan);
    scale: 1.2;
    transition: scale 200ms ease-in;
    cursor: pointer;
}

.links-home:hover p,
.links-profile:hover p, 
.links-messages:hover p, 
.links-history:hover p, 
.links-tasks:hover p, 
.links-communities:hover p,
.help-settings:hover p,
.help-support:hover p,
.help-privacy:hover p {
    color: var(--color-brown);
    cursor: pointer;
}

.contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.contents-projects {
    margin-top: 2rem;
    padding: 0 1rem;

}

.contents-projects h1 {
    font-family: var(--font-base);
    font-size: 30px;
}

.contents-projects ul {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    list-style: none;
    padding: 0;
}

.contents-projects a {
    color: var(--color-brown);
    text-decoration: none;
}
  
.box {
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: block;
    width: 300px;
    height: 300px;
    float: left;
    margin: -1px 0 0 -1px;
    color: black;
    background: linear-gradient(
        white, white 50%, var(--color-darkblue) 50%, var(--color-darkblue)
    );
    background-size: 100% 202%;
    transition: all 0.2s ease;
    animation: up-bump 0.4s ease;
}

.box h2 {
    font-weight: 400;
    letter-spacing: -1.5px;
    line-height: 1.2;
    font-family: var(--font-text);
}

.box h3 {
    font: 0.8em var(--font-alt);
}
  
.box:hover {
    background-position: 100% 100%;
    animation: up-bump 0.4s ease;
}

.box:hover h2 {
    color: var(--color-tan);
}

.box:hover h2 span {
    color: white;
}

.box:hover h3 {
    color: var(--color-white);
}


.boards {
    display: flex;
    flex-direction: column; 
}

.boards h1 {
    font-family: var(--font-base);
    font-size: 25px;
}

.boards h3 {
    font-family: var(--font-header);
}

.boards p {
    font-family: var(--font-text);
    font-size: 10px;
    color: var(--color-gray);
    /* margin-top: 1rem; */
}

.announcements {
    max-width: 100%;
    height: 500px;
    margin-top: 2rem;
    padding: 0 1rem;
}

.announcement-info {
    background: var(--color-tan);
    border: 5px solid var(--color-darkblue);
    border-radius: 10px;

    padding: 0.5rem 1rem;
}

.an {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    float: left;
    margin: -1px 0 0 -1px;
    color: black;
    background: linear-gradient(
        white, white 50%, var(--color-darkblue) 50%, var(--color-darkblue)
    );
    background-size: 100% 202%;
    transition: all 0.2s ease;
    animation: up-bump 0.4s ease; /* Use up-bump animation initially */
    

    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-bottom: 0.5rem;
}

.an:hover {
    background-position: 100% 100%;
    animation: up-bump 0.4s ease;
}

.an:hover h3 {
    color: var(--color-tan);
}
.an:hover p {
    color: var(--color-brown);
}

.an:hover .soc-med {
    fill: var(--color-white);
}

.trending {
    max-width: 100%;
    height: 500px;
    margin-top: 2rem;
    padding: 0 1rem;
}

.trending-info {
    background: var(--color-tan);
    border: 5px solid var(--color-darkblue);
    border-radius: 10px;

    padding: 0.5rem 1rem;
}

.tr {
    width: 275px;
}

.images {
    width: 50px;
}

.description {
    align-items: center;
}

.description h3,
.description p {
    padding: 0; 
    margin: 5px;
}

.soc-med {
    width: 20px;
}

.soc-med:hover {
    cursor: pointer;
    animation: spin 500ms ease-out;
}




@keyframes up-bump {
    0% { padding-top: 2em; }
    50% { padding-top: 1.75em; }
    100% { padding-top: 2em; }
}

@keyframes down-bump {
    0% { padding-top: 2em; }
    50% { padding-top: 2.5em; }
    100% { padding-top: 2em; }
}

@keyframes wiggle {
    0% { transform: translate(2px, 0); }
    50% { transform: translate(-2px, 0); }
    100% { transform: translate(2px, 0); }
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(25deg);
    }
    100% {
        transform: rotate(360deg);
    }
}